In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data.csv")
display(data)

C:\Users\Sabrina\AppData\Local\Temp\ipykernel_14156\3417249035.py:1: DtypeWarning: Columns (9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data.csv")

,Unnamed: 0,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,0,8901,GRI,0,IL,61081,A,NaN,3712,0,...,0.0,0,L,4,E,X,X,X,39.0,C
1,1,9401,BOA,1,CA,91326,A,NaN,5202,0,...,0.0,0,L,2,G,X,X,X,1.0,A
2,2,9001,AMH,1,NC,27017,A,NaN,0,0,...,0.0,1,L,4,E,X,X,X,60.0,C
3,3,8701,BRY,0,CA,95953,A,NaN,2801,0,...,0.0,1,L,4,E,X,X,X,41.0,C
4,4,8601,NaN,0,FL,33176,A,NaN,2001,0,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,95407,9601,ASE,1,AK,99504,A,NaN,0,0,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,95408,9601,DCD,1,TX,77379,A,NaN,5001,0,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,95409,9501,MBC,1,MI,48910,A,NaN,3801,0,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,95410,8601,PRV,0,CA,91320,A,NaN,4005,0,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,95411,8801,MCC,2,NC,28409,A,NaN,1801,0,...,0.0,1,L,1,G,C,1,C,12.0,C

In [3]:
data.isna().sum()

Unnamed: 0      0
ODATEDW         0
OSOURCE       928
TCODE           0
STATE           0
             ...
MDMAUD_R        0
MDMAUD_F        0
MDMAUD_A        0
CLUSTER2      132
GEOCODE2      319
Length: 482, dtype: int64

In [4]:
drop_list = []
drop_list.extend(['OSOURCE','ZIP'])
print(drop_list)

['OSOURCE', 'ZIP']

In [5]:
def list_col_null_percentage(df: pd.DataFrame, threshold: float=0.25):
    
    null_df_def = pd.DataFrame(df.isna().sum()/len(df)).reset_index()
    null_df_def.columns = ['col_name', 'null_percentage']

    col_above_thr = null_df_def[null_df_def['null_percentage']>threshold]
    drop_col_list = list(col_above_thr['col_name'])

    return drop_col_list

In [6]:
col_85_nan = list_col_null_percentage(df=data, threshold=0.85)
print(col_85_nan)

['PVASTATE', 'RECINHSE', 'RECP3', 'RECPGVG', 'RECSWEEP', 'CHILD03', 'CHILD07', 'CHILD12', 'CHILD18', 'NUMCHLD', 'SOLP3', 'SOLIH', 'MAJOR', 'COLLECT1', 'VETERANS', 'BIBLE', 'CATLG', 'HOMEE', 'CDPLAY', 'STEREO', 'PCOWNERS', 'PHOTO', 'CRAFTS', 'FISHER', 'GARDENIN', 'BOATS', 'WALKER', 'KIDSTUFF', 'CARDS', 'PLATES', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

In [7]:
drop_list.extend(col_85_nan)
print(drop_list)

['OSOURCE', 'ZIP', 'PVASTATE', 'RECINHSE', 'RECP3', 'RECPGVG', 'RECSWEEP', 'CHILD03', 'CHILD07', 'CHILD12', 'CHILD18', 'NUMCHLD', 'SOLP3', 'SOLIH', 'MAJOR', 'COLLECT1', 'VETERANS', 'BIBLE', 'CATLG', 'HOMEE', 'CDPLAY', 'STEREO', 'PCOWNERS', 'PHOTO', 'CRAFTS', 'FISHER', 'GARDENIN', 'BOATS', 'WALKER', 'KIDSTUFF', 'CARDS', 'PLATES', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

In [8]:
data.drop(columns=drop_list, inplace=True)

In [10]:
numerical = data.select_dtypes(np.number)
numerical = numerical.drop(columns = ['TARGET_B', 'TARGET_D'])

In [11]:
categorical = data.select_dtypes([object])

In [12]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

GENDER
F    51277
M    39094
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [14]:
categorical['GENDER'] = categorical['GENDER'].replace(['U', 'J', 'C', 'A'], 'other')
categorical['GENDER'].value_counts()

GENDER
F        54234
M        39094
other     2084
Name: count, dtype: int64